@font-face {
  font-family: seto-font;
  src: url('fonts/setofont.woff');
}
@font-face {
  font-family: chihaya-jun;
  src: url('fonts/chihaya-jun.woff');
}
@font-face {
  font-family: k-gothic;
  src: url('fonts/k-gothic.woff');
}
@font-face {
  font-family: logo-maru;
  src: url('fonts/logo-maru.woff');
}
@font-face {
  font-family: ankoku-zonji;
  src: url('fonts/ankoku-zonji.woff');
}
@font-face {
  font-family: kawaii;
  src: url('fonts/kawaii.woff');
}
@font-face {
  font-family: jackeyfont;
  src: url('fonts/jackeyfont.woff');
}
@font-face {
  font-family: kf-himaji;
  src: url('fonts/kf-himaji.woff');
}
@font-face {
  font-family: mart-futomaru;
  src: url('fonts/mart-futomaru.woff');
}
@font-face {
  font-family: stroke-order;
  src: url('fonts/stroke-order.woff');
}
@font-face {
  font-family: mini-wakuwaku;
  src: url('fonts/mini-wakuwaku.woff');
}
@font-face {
  font-family: notosans-thin;
  src: url('fonts/notosans-thin.woff');
}

:root {
  --english-font: arial;
  --english-size: 6em;
  --japanese-font: mini-wakuwaku, sans-serif;
  --japanese-size: 12em;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--base-color);
  font-size: calc(0.3vw + 0.3vh + .15vmin);
}

@media (orientation:landscape) {
  #menu {
    overflow-y:hidden;
    grid-template-areas:
      'hiragana hiragana . title . katakana katakana'
      'hiragana hiragana . information . katakana katakana'
      'hiracombo hiracombo hiracombo starthira katacombo  katacombo katacombo'
      'hiracombo hiracombo hiracombo startkata katacombo  katacombo katacombo';
  }
  #arrow, #settings, #reset {
    width: 4%;
    height: auto;
  }
}

@media (orientation:portrait) {
  #menu {
    overflow-y:overflow;
    grid-template-areas:
      'title'
      'information'
      'starthira'
      'startkata'
      'hiragana'
      'katakana'
      'hiracombo'
      'katacombo';
  }
  #arrow, #settings, #reset {
    height: 5%;
    width: auto;
  }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.medium-circle-button {
  text-align: center;
  font-size: var(--english-size);
  font-family: var(--english-font);
  display: inline-block;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  border: 0.15em solid;
  border-color: var(--border-color);
  align-items: center;
  outline: none;
  color: var(--text-color);
  background-color: var(--base-color);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 80%;
  transition-property: opacity, transform;
  transition-duration: 0.1s, 0.25s;
  justify-content: center;
}

.correct-circle {
  text-align: center;
  display: table;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  border: 0.5em solid var(--border-color);
  align-items: center;
  outline: none;
  background-color: var(--base-color);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 10%;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#question {
  text-align: center;
  font-size: var(--japanese-size);
  font-family: var(--japanese-font);
  display: inline-block;
  height: 1em;
  width: 1em;
  border: none;
  align-items: center;
  outline: none;
  color: var(--text-color);
  background-color: var(--base-color);
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 0%);
  transition-property: color, transform;
  transition-duration: 0.25s, 0.5s;
}

#container {
  width: 100%;
  padding: 1em;
  background: var(--progress-base);
  position: fixed;
  top: 10%;
  top: 0;
  left: 0;
  border-radius: 0;
  padding-right: 0;
  padding-left: 0;
}

#progress {
  background-color: var(--progress-color);
  border-radius: 0;
  top: 10%;
  width: 0%;
  height: 2em;
  position: absolute;
  top: 0;
  left: 0;
  transition-property: width;
  transition-duration: 1s;
}

#arrow {
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 20;
}

#settings {
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 2000;
}

.hover_background{
    background:rgba(0,0,0,.4);
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    color: var(--text-color);
    top:0;
    left:0;
    width:100%;
    z-index:10000;
}
.hover_background .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_background > div {
    background-color: var(--base-color);
    display: inline-block;
    vertical-align: middle;
    width: 75%;
    height: 75%;
    position: relative;
    border-radius: 0;
    padding: 1em 5%;
}
.closeSettings {
    background-color: white;
    border: 0.2em solid black;
    border-radius: 2em;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    color: black;
    position: absolute;
    top: -0.625em;
    right: -0.625em;
    font-size: 3em;
    line-height: 1.2em;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
}
.closeSettings:hover {
    background-color: #cccccc;
}

#themeList, #englishFontList, #japaneseFontList {
  font-size: 2.5em;
  font-family: var(--english-font);
  position: absolute;
  top: 15%;
  transform: translate(-50%,-50%);
}

#themeListText, #englishFontListText, #japaneseFontListText {
  font-size: 3em;
  font-family: var(--english-font);
  position: absolute;
  top: 5%;
  transform: translate(-50%,-50%);
}

.settingsLeft {left: 15%;}
.settingsMiddle {left: 50%;}
.settingsRight {left: 85%;}

.slider {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 0;
  height: 2em;
  width: 10em;
  position: absolute;
  transform: translate(-50%,-50%);
  background: var(--progress-base);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2em;
  height: 2em;
  background: var(--progress-color);
  cursor: pointer;
  border-radius: 0;
}

.slider::-moz-range-thumb {
  width: 2em;
  height: 2em;
  background: var(--progress-color);
  cursor: pointer;
  border-radius: 0;
}

#credits {
  bottom: 1em;
  right: 1em;
  font-size: 1.2em;
  transform: translate(-50%,-50%);
  font-family: var(--english-font);
}

.settings {
  color: var(--text-color);
  font-family: var(--japanese-font), var(--english-font);
  position: absolute;
}

#menu {
  gap: 1em;
  display: grid;
  padding: 1%;
  width: 100%;
  height: 100%;
  background-color: var(--base-color);
  z-index: 1000;
  position: fixed;
  overflow-x:hidden;
  text-align: center;
  align-items: center;
  margin: auto;
  left: 0;
  top: 0;
}

#information {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: var(--base-color);
  z-index: 10;
  position: fixed;
  text-align: center;
  align-items: center;
  margin: 0;
  left: 0;
  top: 0;
  padding: 1%;
  gap: 0.1em;
  grid-template-columns: repeat(3, 1fr);
  font-family: var(--english-font);
  font-size: 6em;
  color: var(--learned-color);
}

#information > a {
  color: var(--text-color);
  font-family: var(--english-font);
}

#title {
  font-size: 8em;
  font-family: var(--english-font), var(--japanese-font);
  color: var(--text-color);
  grid-area: title;
  white-space: nowrap;
  vertical-align:top;
}

.start-button {
  font-family: var(--english-font), var(--japanese-font);
  font-size: 7em;
  border-radius: 1%;
  border: 0.1em solid var(--border-color);
  color: var(--text-color);
  padding: 1%;
  box-sizing: border-box;
  outline: none;
  white-space: nowrap;
  vertical-align:top;
}

#information-button {grid-area: information;}
#hiragana-start {grid-area: starthira;}
#katakana-start {grid-area: startkata;}

#loading {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 20000;
  position: fixed;
  left: 0;
  top: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
}

#correctRequiredText, #volumeText, #delayText {
  top: 35%;
  font-size: 3em;
  color: var(--text-color);
  transform: translate(-50%,-50%);
  font-family: var(--english-font);
}

#maxCardsText {
  top: 60%;
  font-size: 3em;
  color: var(--text-color);
  transform: translate(-50%,-50%);
  font-family: var(--english-font);
}

#hiragana_table, #katakana_table {
  font-size: 3em;
  z-index: 1500;
}

.combo_table {
  font-size: 2.4em;
  z-index: 1500;
}

#hiragana_table, #hiragana_combo {
  display: grid;
  text-align: center;
}

#katakana_table, #katakana_combo {
  display: grid;
  text-align: center;
}

#hiragana_table {grid-area: hiragana;}
#hiragana_combo {grid-area: hiracombo;}
#katakana_table {grid-area: katakana;}
#katakana_combo {grid-area: katacombo;}

.kana {
  font-family: var(--japanese-font);
  color: var(--text-color);
  opacity: 0.9;
  white-space:nowrap;
}

.romajih, .romajik, .english {
  font-family: var(--english-font);
  color: var(--text-color);
  white-space:nowrap;
}

#reset {
  bottom: 1em;
  left: 1em;
  position: absolute;
}
